{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All lecturers</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/all_lecturers.css' %}">
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Custom Table</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <nav>
            <a href="{% url 'admin_dashboard' %}"><i class='bx bx-arrow-back'></i></a>
        </nav>
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>X</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                  
                    
                </tr>
            </thead>
         
            <tbody>
                {% for admin in admins %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ admin.fullname }}</td>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.email }}</td>
                    <td>{{ admin.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    </html>    
</body>
</html>