:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.edit_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(164,238,177) 10%, rgb(164,238,177) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(141,164,125) 55%, rgb(141,164,125) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(139,168,134) 91%, rgb(139,168,134) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(164,238,177) 10%, rgb(164,238,177) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(141,164,125) 55%, rgb(141,164,125) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(139,168,134) 91%, rgb(139,168,134) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(164,238,177) 10%, rgb(164,238,177) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(141,164,125) 55%, rgb(141,164,125) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(139,168,134) 91%, rgb(139,168,134) 100%),linear-gradient(90deg, rgb(164,238,177),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;   

}

.edit{
    width: 100%;
    max-width: 700px;
    background:transparent;
    padding: 40px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(112, 109, 109, 0.5);
}
.header {
    font-size: 30px;
    font-weight: 600;
    color: #0f0303;
    margin-bottom: 20px;
  align-items: center;
}

.input_text input{
    width: 100%;
    padding: 2px;
    border-radius: 6px;
    border: 1px solid #140202;
    outline: none;
    background: transparent;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    padding: 10px 50px 10px 50px;
}
.submit button{
    background-color: #ca9b19;
    border: none;
    border-radius: 10px;
    padding: 10px 65px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-items: center;
    justify-content: center;
    margin-left: 145px;
    
}
input[type=text], input[type=password]{
    color: #000000;
    text-align: center;
    font-size: 17px;
   
}

input[type=text]::placeholder {
    text-align: center;
    color: #494343;
    font-size: 17px;
}
input[type=password]::placeholder {
    text-align: center;
    color: #494343;
    font-size: 17px;
}

.input_text i{
    margin-left:13px;
    font-size: 20px;
    transform: translateY(-173%);

}


 select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #140202;
    outline: none;
    background: transparent;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    padding: 14px 100px 14px 100px;
    color: #000000;
    text-align: center;
    font-size: 17px;
}

