:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at 29% 55%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, rgba(252,252,252, 0.05) 0%, rgba(252,252,252, 0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(311deg, rgba(51,148,199, 0.94),rgba(21,71,11, 0.83));;
}

.container .login{
    width: 100%;
    max-width: 500px;
    background:transparent;
    padding: 40px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.login .header{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.input_text input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #140202;
    outline: none;
    background: transparent;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 4rem 1rem 1rem;


}

input[type=text], input[type=password]{
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

input[type=text]::placeholder {
    text-align: center;
    color: #ebe2e2;
    font-size: 15px;
}
input[type=password]::placeholder {
    text-align: center;
    color: #ebe2e2;
    font-size: 15px;
}

.input_text i{
    left: 20px;
    top: 50%;
    transform: translateY(-230%);
    margin-left:13px;
    font-size: 20px;
}


/* Dropdown */
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: rgb(238, 231, 231);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: black;
      background-color: var(--option-bg);
    }
  }
  .submit button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #140202;
    outline: none;
    background: transparent;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 4rem 1rem 1rem;
    background: #1f1f1f;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    font-weight: 600;
  }